html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
}
div {
  border: 1px solid black;
}

.overall-content {
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  flex: 3 1 0px;
}

.info-picture {
  background-color: white;
  flex: 3 1 0px;
}

.info-citat {
  background-color: #e5e7eb;
  flex: 3 1 0px;
}

.info-contact {
  background-color: white;
  flex: 2 1 0px;
}

.footer {
  background-color: #1f2937;
  text-align: center;
  flex: 1 1 0px;
}

.top-header {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  justify-content: space-between;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}

.ul-header-link {
  display: flex;
}

.header-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  flex: 1 1 0px;
}
.header-content {
  display: flex;
  align-content: space-around;
}
.header-image {
  width: 248px;
  flex: 1 1 0px;
}
.header-text-child {
  font-size: 12px;
  overflow-wrap: break-word;
}
